* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    margin: auto;
    height: auto;
    font-family: "Matter" !important;
}

:root {
    --sim-light-blue: #3991C9;
    --sim-light-green: #92BA48;
    --sim-light-grey: #F2F2F2;
    --black: #000000;
    --white: #FFFFFF;
}

/* Some basic styling for the page */

/* Text-Color */

.sim-light-blue-color {
    color: var(--sim-light-blue);
}

.sim-light-green-color {
    color: var(--sim-light-green);
}

.sim-light-grey-color {
    color: var(--sim-light-grey);
}

.black-color {
    color: var(--black);
}

.white-color {
    color: var(--white);
}

/* Width Related Styles */

.max-width-1320px {
    max-width: 1320px;
}

/* Font-size related styles */

.font-size-56px {
    font-size: 56px;
}

.font-size-42px {
    font-size: 42px;
}

.font-size-28px {
    font-size: 28px;
}

.font-size-24px {
    font-size: 24px;
}

.font-size-22px {
    font-size: 22px;
}

.font-size-20px {
    font-size: 20px;
}

.font-size-18px {
    font-size: 18px;
}

/* Font-weight related styles */

.font-weight-800 {
    font-weight: 800;
}

.font-weight-700 {
    font-weight: 700;
}

.font-weight-600 {
    font-weight: 600;
}

.font-weight-400 {
    font-weight: 400;
}

/* Border-Radius related styles */

.border-radius-10px {
    border-radius: 10px;
}

.border-radius-5px {
    border-radius: 5px;
}

/* Button styles */

.button-bg-green-color-white {
    background-color: var(--sim-light-green);
    color: var(--white);
    border: 2px solid var(--sim-light-green);
}

/* Section 1 */

.sec-1 {
    height: auto;
    background-color: var(--sim-light-blue);
    padding: 10px 14.5px;
}

@media screen and (max-width: 660px) {
    .body .sec-1 {
        display: block !important;
        text-align: center !important;
    }

    .sec-1 .Sec-1-right-sec {
        margin-top: 10PX;
        justify-content: center !important;
    }
}

@media screen and (max-width: 500px) {
    .sec-1 .Sec-1-right-sec {
        display: block !important;
    }

    .Sec-1-right-sec img {
        margin-right: 0px !important;
    }

    .Sec-1-right-sec .sec-1-phone-no {
        width: 50%;
    }

    .Sec-1-right-sec .sec-1-email-id {
        margin-top: 10px;
        width: 70%;
    }
}

@media screen and (max-width: 400px) {
    .Sec-1-right-sec .sec-1-phone-no {
        width: 70%;
    }

    .Sec-1-right-sec .sec-1-email-id {
        margin-top: 10px;
        width: 90%;
    }
}

/* Header Section */

.header-sec {
    height: auto;
    padding: 10px 14.5px;
}

@media screen and (max-width: 925px) {
    .body .header-sec {
        display: block !important;
        text-align: center !important;
    }

    .header-sec .header-sec-right-sec {
        justify-content: center !important;
        margin-top: 10px !important;
    }
}

@media screen and (max-width: 660px) {
    .header-sec .header-sec-right-sec {
        display: block !important;
        text-align: center !important;
    }

    .header-sec-right-sec ul {
        justify-content: center !important;
        margin-top: 10px;
    }

    .header-sec-right-sec ul li {
        margin: 0px 12px !important;
    }

    .header-sec-right-sec .header-sec-button {
        margin-top: 10px !important;
    }
}

@media screen and (max-width: 510px) {
    .header-sec-right-sec ul {
        display: block !important;
    }
}

@media screen and (max-width: 290px) {
    .main-logo img {
        width: 100%;
    }
}

/* Section 3 */

.sec-3 {
    height: auto;
    width: 100%;
    background-image: url(/Assets/Img\ 1.png);
    background-size: cover;
    background-position: center;
    padding: 100px 150px;
}

.sec-3-main-container {
    padding: 60px 50px 100px;
    background-color: rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 1000px) {
    .body .sec-3 {
        padding: 80px 80px;
    }
}


@media screen and (max-width: 750px) {
    .sec-3 .sec-3-main-container {
        padding: 60px 10px 100px;
    }
}

@media screen and (max-width: 680px) {
    .body .sec-3 {
        padding: 80px 40px;
    }

    .sec-3-main-container .sec-3-main-heading {
        font-size: 30px;
    }
}

@media screen and (max-width: 400px) {
    .body .sec-3 {
        padding: 50px 20px;
    }
}

@media screen and (max-width: 235px) {
    .body .sec-3 {
        height: 300px;
        background-position: center;
    }

    .sec-3 .sec-3-main-container {
        display: none;
    }
}

/* Section 4 */

.sec-4 {
    padding: 100px 14.5px;
}

@media screen and (max-width: 400px) {
    .body .sec-4 {
        padding: 50px 10px;
    }

    .sec-4 div p {
        font-size: 16px;
    }
}

/* Section 5 */

.sec-5 {
    height: 300px;
    background-image: url(/Assets/Img\ 7.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* Section 6 */

.sec-6 {
    height: auto;
    padding: 100px 0;
}

.sec-6-right-sec {
    padding: 0 60px 0 70px;
}

@media screen and (max-width: 1180px) {
    .body .sec-6 {
        display: block !important;
        text-align: center !important;
    }

    .sec-6 .sec-6-left-sec {
        width: 100% !important;
    }

    .sec-6 .sec-6-right-sec {
        width: 100% !important;
    }

}

@media screen and (max-width: 600px) {
    .sec-6 .sec-6-main-heading {
        font-size: 30px !important;
        margin-top: 20px;
    }

    .sec-6 .sec-6-para-1,
    .sec-6-para-2,
    button {
        font-size: 18px !important;
    }

    .sec-6 .sec-6-right-sec {
        padding: 0 10px;
    }
}

@media screen and (max-width: 400px) {
    .body .sec-6 {
        padding: 50px 0;
    }
}

/* Section 7 */

.sec-7 {
    height: auto;
    padding: 100px 10px;
    background-color: var(--sim-light-grey);
}

@media screen and (max-width: 400px) {
    .body .sec-7 {
        padding: 50px 10px;
    }

    .sec-7 div .sec-7-main-heading {
        font-size: 30px;
    }
}

/* Section 8 */

.sec-8 {
    padding: 100px 0px;
    background-image: url(/Assets/Img\ 6.png);
    background-size: cover;
}

.sec-8 div p {
    padding-right: 20%;
}

.sec-8 div button {
    width: auto;
    height: auto;
}

@media screen and (max-width: 875px) {
    .sec-8 div {
        display: block !important;
        width: 100%;
        text-align: center;
    }

    .sec-8 div p {
        padding: 0 !important;
        margin: 0 !important;
    }

    .sec-8 div button {
        margin: 10px 0 0 0 !important;
    }
}

@media screen and (max-width: 400px) {
    @media screen and (max-width: 400px) {
        .body .sec-8 {
            padding: 50px 10px;
        }
    }

    .sec-8 div p {
        font-size: 20px;
    }
}